/* 
=================== Browser Reset =========================================
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/* ================================================================================================= */
/* =============================== End of Browser reset ============================================ */
/* ================================================================================================= */

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.hidden {
  opacity: 0;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 15px;
}

#main {
  left: 0px;
  top: 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  height: 698px;
  overflow: hidden;
}

.floors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px -75px 0 10px;
}

div > span {
  font-size: 1.3rem;
  background-color: rgba(128, 0, 0, 0.35);
  border-radius: 30px;
  display: inline-block;
  padding: 15px;
  transition: all 0.5s ease;
}
  div > span:hover {
    padding: 17px;
    font-size: 1.5rem;
  }

.one {
  font-size: 1.6rem;
  border-radius: 15px;
  margin: 40px 5px;
  display: block;
}

.two {
  font-size: 1.6rem;
  border-radius: 15px;
  margin: 40px 5px;
  display: block;
}

.three {
  font-size: 1.6rem;
  border-radius: 15px;
  margin: 40px 5px;
  display: block;
}

.four {
  font-size: 1.6rem;
  border-radius: 15px;
  margin: 40px 5px;
  display: block;
}

li {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in;
}
  li:hover {
    border-color: maroon;
  }

/* =========================================================================== */
/* ============ Classes for Text Colors on li element when clicked =========== */
/* =========================================================================== */
.EnglishSSFloor1 {
  color: #faa6f3;
}

.PerformingArtsFloor1 {
  color: #b885d0;
}

.StudentServicesFloor1 {
  color: #9985d8;
}

.MathFloor2 {
  color: #8adbea;
}

.ScienceFloor2 {
  color: #84cd82;
}

.EnglishSSFloor2 {
  color: #faa6f3;
}

.ArtFloor2 {
  color: #8ef5db;
}

.PerformingArtsFloor2 {
  color: #a875c0;
}

.MathFloor3 {
  color: #8adbea;
}

.ScienceFloor3 {
  color: #84cd82;
}

.HealthFloor3 {
  color: #f58e8e;
}

.EnglishSSFloor3 {
  color: #faa6f3;
}

.WorldLanguageFloor3 {
  color: #e3b482;
}

.SETTHESEROOMSTOSCIEN {
  color: #84cd82;
}

.WorldLanguageFloor4 {
  color: #e3b482;
}

.PerformingArtsFloor4 {
  color: #b885d0;
}
/* ========================================================== */
/* =============== End text color classes =================== */
/* ========================================================== */

/* ==================================================== */
/* ============ PSD generated CSS ===================== */
/* ==================================================== */
#Background {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 1920px;
  height: 698px;
}

#floor-one {
  left: 56px;
  top: 27px;
  position: absolute;
  width: 1808px;
  height: 644px;
}

#EnglishSSFloor1 {
  left: 71px;
  top: 92px;
  position: absolute;
  width: 193px;
  height: 123px;
}

#PerformingArtsFloor1 {
  left: 506px;
  top: 165px;
  position: absolute;
  width: 257px;
  height: 138px;
}

#StudentServicesFloor1 {
  left: 506px;
  top: 279px;
  position: absolute;
  width: 156px;
  height: 226px;
}

#floor-two {
  left: 57px;
  top: 31px;
  position: absolute;
  width: 1808px;
  height: 637px;
}

#MathFloor2 {
  left: 71px;
  top: 83px;
  position: absolute;
  width: 1133px;
  height: 291px;
}

#ScienceFloor2 {
  left: 262px;
  top: 339px;
  position: absolute;
  width: 162px;
  height: 260px;
}

#EnglishSSFloor2 {
  left: 93px;
  top: 88px;
  position: absolute;
  width: 634px;
  height: 511px;
}

#ArtFloor2 {
  left: 392px;
  top: 102px;
  position: absolute;
  width: 372px;
  height: 299px;
}

#PerformingArtsFloor2 {
  left: 585px;
  top: 341px;
  position: absolute;
  width: 24px;
  height: 85px;
}

#floor-three {
  left: 57px;
  top: 28px;
  position: absolute;
  width: 1808px;
  height: 644px;
}

#MathFloor3 {
  left: 624px;
  top: 99px;
  position: absolute;
  width: 214px;
  height: 208px;
}

#ScienceFloor3 {
  left: 333px;
  top: 389px;
  position: absolute;
  width: 21px;
  height: 18px;
}

#HealthFloor3 {
  left: 599px;
  top: 227px;
  position: absolute;
  width: 46px;
  height: 85px;
}

#EnglishSSFloor3 {
  left: 68px;
  top: 82px;
  position: absolute;
  width: 714px;
  height: 427px;
}

#WorldLanguageFloor3 {
  left: 307px;
  top: 85px;
  position: absolute;
  width: 413px;
  height: 268px;
}

#StudentServicesFloor_0 {
  left: 493px;
  top: 77px;
  position: absolute;
  width: 727px;
  height: 363px;
}

#SETTHESEROOMSTOSCIEN {
  left: 259px;
  top: 390px;
  position: absolute;
  width: 207px;
  height: 209px;
}

#floor-four {
  left: 57px;
  top: 42px;
  position: absolute;
  width: 1808px;
  height: 615px;
}

#WorldLanguageFloor4 {
  left: 282px;
  top: 69px;
  position: absolute;
  width: 346px;
  height: 129px;
}

#PerformingArtsFloor4 {
  left: 512px;
  top: 346px;
  position: absolute;
  width: 121px;
  height: 151px;
}
